# Eclipse
*.launch

# JetBrains IDEs
/.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
/.settings/
/.vscode/
/bin/
.classpath
.project

# macOS
*.DS_Store

# Gradle
/.gradle/
/build/
/out/
/classes/

# Loom
/run/

# Data Generation
/src/main/generated/.cache/
